.balanceWrapper {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 12px;
  padding: 8px 20px;
  margin-bottom: 32px;
  border-radius: 8px;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(50px);
}

.title {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
}

.balance {
  color: rgba(255, 255, 255, 1);;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .balanceWrapper {
    max-width: 100%;
    padding: 8px 40px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .balanceWrapper {
    border-radius: 0;
    padding: 8px 0 11px 56px;
  }
}

/* doar pe mobil */
@media (max-width: 767px) {
  .balanceWrapper {
    padding: 8px 20px;
    max-width: 336px;
    margin: 0 auto;
  }
}


