.sidebar {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #2e005f, #450278);
    color: white;
    padding: 20px;
    width: 250px;
    min-height: 100vh;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .nav a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  
  .nav a:hover {
    opacity: 0.8;
  }
  
  .active {
    font-weight: bold;
    border-left: 4px solid orange;
    padding-left: 10px;
  }
  
  .icon {
    width: 24px;
    margin-right: 12px;
    flex-shrink: 0;
    display: block;
  }
  