.sidebar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #2e005f, #450278);
  color: white;
  padding: 20px;
  width: 250px;
  min-height: 100vh;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  margin-bottom: 20px;
  transition: opacity 0.3s;
  color: #fbfbfb;
}

.link:hover {
  opacity: 0.8;
}

.active {
  font-weight: bold;
}
.icon {
  width: 24px;
  height: 24px;
  fill: white;
  display: inline-block;
}
.active .icon {
  fill: red;
}

.navText {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #fbfbfb;
}