.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  width: 320px;
  height: 568px;
  flex-shrink: 0;
  margin-top: 20px;
  flex-shrink: 0;
  background: url(../Icon/bg-formik.png), rgba(255, 255, 255, 0.1);
  background-position: center;
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.logo {
  width: 36px;
  height: 36px;
  margin-top: 0;
}

.title {
  font-weight: 400;
  font-size: 26.96px;
  line-height: 100%;
  color: rgba(251, 251, 251, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
}

.inputContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.icon {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.8;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 25px;
  width: 300;
}
